* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* All page default to dark mode, no light mode */
html {
  background: #121212;
  color: #fff;
  color-scheme: dark;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.repl-terminal .xterm {
  padding: 0.75rem 1.5rem;
}
.xterm-rows {
  font-family: 'JetBrains Mono', monospace !important;
}
